* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #000; */
}

/* canvas {
    background-image: url("../img/bg22.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
} */